*, *::before, *::after{
     box-sizing: border-box;
     font-family: 'Franklin Gothic Medium';

}


:root{
     --hue-neutral:200;
     --hue-wrong:0;
     --hue-correct: 120;

}

body {

padding: 0;
margin: 0;
display: flex;
justify-content:center;
align-items: center;
background-color: black;
}


body.correct{
     --hue:var(--hue-correct);
}

body.wrong{
     --hue: var(--hue-wrong);
}


.container{
      width: 700px;
      height: 500px;
      background-color: lightyellow;
      padding: 5px;
      align-content: center;
      justify-content: center;


}


.btn-grid{
     display: grid;
     transition:0.3s;
     
     
}

.btn{
     color: blue;
     background-color: peachpuff;

}

.btn:hover{
     border-color: black;
}

.start-btn, .next-btn{
     width: 40%;
     height: 30%;
     font-size: 2 rem;
     font-weight: bold;
     padding: 10px 20px;
     align-items: center;
}

.controls{
     display: flex;
     justify-content: center;
     align-items: center;
}

.hide{
     display: none;
}

.displayTimer {
    text-align: center;
     font: 25px;

}


.title{
     font-weight: bold;
     width: 50%;
     height: 20%;
     color: blue;
     text-align: right;
}


.displaytimer{
     text-align: right;
     
}